.main{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
button{
  margin-left: 1rem;
  margin-right: 1rem;
}
span{
  color: red;
}
.home{
  height:  720px;
  text-align: center;
  padding: 12rem;
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}